= form_for @invite, :remote => true do |form|
  %fieldset
    %legend
      %i.icon-group
      Send invitation

    .row
      = form.email_field :email, :placeholder => "Email"

    .buttons.row
      = link_to "javascript:void(0)", :class => "button success", :data => { :action => "submit" } do
        %i.icon-ok
        Send

      = link_to "Cancel", "javascript:void(0)", :class => "button secondary right", :data => { :action => "close" }
