body {
  margin:0;
  padding:0;
  background-color: #F8F8F8;
  font-family:Verdana,Geneva,sans-serif;
  font-size:14px;
  line-height:20px;
}

.top-bar, .top-bar.expanded .title-area {
  background-color: #98AFC7;

  .has-form {
    background-color: #FFFFFF;
  }
}

.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
  border-right-color: #98AFC7;
  border-left-color: #98AFC7;
}

.contain-to-grid {
  background-color: #F8F8F8;
}

#content {
  height: 5000px;
}